@font-face {
    font-family: GothaProMedIta;
    src: url(fonts/GothaProMedIta.otf);
}

@font-face {
    font-family: GothaProMed;
    src: url(fonts/GothaProMed.otf);
}

@font-face {
    font-family: GothaProLig;
    src: url(fonts/GothaProLig.otf);
}

@font-face {
    font-family: GothaProLigIta;
    src: url(fonts/GothaProLigIta.otf);
}

@font-face {
    font-family: GothaProReg;
    src: url(fonts/GothaProReg.otf);
}

body{
    background: #ffffff;
}

div.main-content{
    overflow: hidden;
}

@media screen and (min-width: 576px){
    div.page{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 575px){
    div.page{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 576px){
    div.page{
        padding-top: 70px;
    }
}

@media screen and (max-width: 575px){
    div.page{
        padding-top: 20px;
    }
}

div.side-columns-left{
    display: none;
    position: fixed;
    z-index: 1000;
    width: 70%;
    background: rgba(247, 247, 247, 0.85);
    backdrop-filter: blur(14px);
    height: 100vh;
}

@media screen and (min-width: 576px){
    .rect-menu{
        display: none;
    }
}

@media screen and (max-width: 575px){
    .back{
        display: none;
    }
}

.mid-rect{
    width: 20px;
    height: 2px;
    background: #000000;
    margin-bottom: 6px;
}

.big-rect{
    width: 25px;
    height: 2px;
    background: #000000;
    margin-bottom: 6px;
}

.small-rect{
    width: 15px;
    height: 2px;
    background: #000000;
}

.cross{
    font-size: 30px;
}

div.upline-left span{
    font-family: GothaProMedIta;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
}

div.upline-right{
    float: right;
    vertical-align: top;
}

div.upline-right div.label-group{
    float: right;
}

div.label-group{
    font-family: GothaProMed;
    line-height: 100%;
}

div.label-group span.up{
    font-size: 26px;
}


div.label-group span.down{
    font-size: 12px;
    text-align: center;
    display: block;
}

@media screen and (min-width: 576px){
    div.content{
        margin-top: 72px;
    }
}

@media screen and (max-width: 575px){
    div.content{
        margin-top: 50px;
    }
}

ul.menu{
    font-family: GothaProLig;
    font-size: 12px;
    line-height: 11px;
    color: #000000;
    list-style-type: none;
    padding: 0px;
    position: fixed;
}

@media screen and (min-width: 576px){
    ul.big-menu{
        display: initial;
    }
}

@media screen and (max-width: 575px){
    ul.big-menu{
        display: none;
    }
}

@media screen and (max-width: 575px){
    ul.menu{
        margin-top: 120px;
    }
}

ul.menu li{
    margin-bottom: 33px;
}

@media screen and (min-width: 760px) {
    ul.menu li:hover{
        font-size: 42px;
        font-family: GothaProMedIta;
    }
}

@media screen and (min-width: 576px) and (max-width: 759px) {
    ul.menu li:hover{
        font-size: 20px;
        font-family: GothaProMedIta;
    }
}

@media screen and (max-width: 575px) {
    ul.menu li:hover{
        font-size: 42px;
        font-family: GothaProMedIta;
    }
}

/*@media screen and (min-width: 1660px) {*/
/*    div.img-box img{*/
/*        height: 539px;*/
/*        width: 378px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1340px) and (max-width: 1659px) {*/
/*    div.img-box img{*/
/*        height: 423px;*/
/*        width: 296px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1200px) and (max-width: 1339px) {*/
/*    div.img-box img{*/
/*        height: 367px;*/
/*        width: 257px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 930px) and (max-width: 1199px) {*/
/*    div.img-box img{*/
/*        height: 275px;*/
/*        width: 193px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 430px) and (max-width: 929px) {*/
/*    div.img-box img{*/
/*        height: 149px;*/
/*        width: 105px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 390px) and (max-width: 429px) {*/
/*    div.img-box img{*/
/*        height: 136px;*/
/*        width: 95px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 340px) and (max-width: 389px) {*/
/*    div.img-box img{*/
/*        height: 123px;*/
/*        width: 86px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 320px) and (max-width: 339px) {*/
/*    div.img-box img{*/
/*        height: 102px;*/
/*        width: 72px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 319px) {*/
/*    div.img-box img{*/
/*        height: 51px;*/
/*        width: 36px;*/
/*    }*/
/*}*/

/*div.img-box img{*/
/*    max-width: 100%; height: auto; display: block;*/
/*}*/


/*.img-box{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

p.name-label{
    line-height: 100%;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 20px;
}

p.name-label .name-label-up{
    font-family: GothaProMedIta;
}

p.name-label .name-label-down{
    font-family: GothaProLigIta;
}

div.img-block {
    display: grid;
    grid-template-areas:
    "img-box-1 img-box-2 img-box-3"
    "img-box-1 img-box-2 img-box-3"
    "img-box-1 img-box-2 img-box-3"
    "img-box-1 img-box-2 img-box-3";

    grid-column-gap: 15px;
    grid-row-gap: 30px;
}

div.img-in-box img{
    max-width: 100%;
    height: auto;
}

div.downline-left{
    padding: 0px;
    font-family: GothaProMed;
    font-size: 12px;
}

.downline-left-en{
    color: #000000;
}

.downline-left-ru{
    color: #000000;
    opacity: 0.3;
}

.downline-left-2020 {
    font-family: GothaProReg;
    font-size: 12px;
    color: #000000;
    margin-left: 30px;
}

.downline-left-2020-mobile{
    font-family: GothaProReg;
    font-size: 12px;
    color: #000000;
    margin-left: 0px;
}

div.downline-right{
    padding: 0px;

    width: 40%;
}

div.downline-right div.menu-down{
    font-family: GothaProReg;
    font-size: 12px;
    color: #000000;

    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}

div.menu-down div{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px){
    div.downline-right{
        display: none;
    }
}

@media screen and (max-width: 767px){
    div.downline-right{
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px){
    div.downline{
        margin-top: 70px;
    }
}

div.downline{
    margin-bottom: 40px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px){
    div.horizontal{
        display: none;
    }
}

@media screen and (max-width: 767px){
    div.horizontal{
        height: 1px;
        background: #EDEDED;
        margin-bottom: 50px;
        margin-top: 20px;
    }
}

button{
    border: none;
    outline: none;
    background: none;
}

div.downline-left-menu{
    padding: 0px;
    font-family: GothaProMed;
    font-size: 12px;

    position:absolute;
    bottom:0;
}

.cl-btn-7 {

    width: 40px;
    height: 40px;
    border-radius: 10px;
    z-index: 1;

    cursor: pointer;
}
.cl-btn-7:before {
    content: '+';
    color: #000000;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #000000;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}

.mobile-menu{
    display: none;
    position: fixed;
    z-index: 2000;
    width: 70%;
    background: rgba(247, 247, 247, 0.85);
    backdrop-filter: blur(14px);
    height: 100vh;
    padding-left: 15px;
    padding-top: 20px;
}

.first-menu{
    z-index: 1000;

    -webkit-transform: translateZ(0);

    display: -webkit-flex;
    display: flex;
    justify-content: space-between;

}

@media screen and (min-width: 768px){
    .first-menu{
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px){
    .first-menu{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;

        background: white;
    }
}